body{
  padding: 25px;
  background-color: #29524A;
  }
  .doctitle{
    color: black; background-color: #0081a7; border: 10px double #b5e2fa;
  }
  article{
    color: white; background: #0081a7; border: 10px double white;
  }
  img{
    float: left;
    border: 10px double white;
    display: block;
  }
  nav{
    font-family: Calibri; 
    padding-right: 15px;
    padding-left: 15px;
    display: flex; align-items: center; justify-content: space-between; background-color: #0081a7;
    border: 5px dashed white;
  }
  Header{
    color: #80ed99;
    font-style: bold;
    font-size: 50px;
  }
  h3{
    color: #80ed99;
    font-size: 30px;
  }
  li{
    list-style: none; display: inline-block; <!-- this makes it so that it is in one line -->
  }
  p{
    padding-left: 0px;
  }
  footer{
    color: #29524A;
    background-color: #80ed99;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
  li a:link{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  li a:visited{
    color: black;
  }
  li a:hover {
    background-color: rgb(38,70,83);
    color: white;
  }
  li a.active {
    background-color: rgb(138,177,125);
    color: white;
   }
title{
  color: #29524A;
  background-color: #c7f9cc;
}
